* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: cadetblue;
  color: #fff;
  font-family: monospace;
}

h1,
h2,
h3,
form {
  text-align: center;
}
input,
button {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  margin-top: 20px;
}

.cont-res {
  height: 70%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
